# General Modules
asgiref==3.8.1
Django==4.2
python-decouple==3.8
sqlparse==0.5.0
tzdata==2024.1
djangorestframework

# Third party modules
markdown
django-filter
coreapi
pillow
drf-yasg[validation]
drf-spectacular
djangorestframework-simplejwt
django-mail-templated

# Testing
pytest
pytest-django

# Reformatting
black
flake8

# add fake data
Faker

# Background proccess and cache
redis
celery