{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <main>
        <section class="tasks">
            <div class="title-head">
                <h2>Your Tasks</h2>
                <a href="#" class="btn btn-create-task">Create New Task</a>
            </div>
            <div class="task-container">
                {% for task in object_list %}
                    <div class="task-card">
                        <a href=""><h3>{{task.title}}</h3></a>
                        <p>{{task.content|truncatewords:10|safe}}</p>
                        <div class="task-buttons">
                            <div>
                                <a href="#" class="btn btn-check">Done</a>
                            </div>    
                            <div>
                                <a href="#" class="btn btn-edit" style="margin-right: 5px;">Edit</a>
                                <a href="#" class="btn btn-delete">Delete</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="task-card">
                        <h3>No Tasks yet...</h3>
                    </div>
                {% endfor %}  
            </div>
        </section>
    </main>
{% endblock %}