{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block title %}Task Details{% endblock %}

{% block content %}

    <main>
        <section class="task-detail">
            <div class="task-card">
                <h3><span class="sp-color">Title:</span> {{object.title}}</h3>
                <p><span class="sp-color">Description:</span> {{object.content}}</p>
                <p><span class="sp-color">Created Date:</span> {{object.created_date}}</p>
                <div class="task-buttons">
                    {% if object.complete %}
                        <a href="{% url 'task:done' pk=object.id %}" class="btn btn-check">Undo</a>
                    {% else %}
                        <a href="{% url 'task:done' pk=object.id %}" class="btn btn-check">Done</a>
                    {% endif %}
                    <a href="{% url 'task:detail-edit' pk=object.id %}" class="btn btn-edit">Edit</a>
                    <a href="{% url 'task:detail-delete' pk=object.id %}" class="btn btn-delete">Delete</a>
                </div>
            </div>
        </section>
    </main>

{% endblock %}