* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1c1c1c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-container {
    background-color: #2c2c2c;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #ffffff;
}

.login-container button {
    background-color: #ff4747;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 480px) {
    .login-container {
        padding: 20px 15px;
    }

    .login-container h2 {
        font-size: 20px;
    }

    .login-container button {
        font-size: 14px;
    }
}