{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
    <script defer src="{% static 'js/base.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">TaskFlow</div>
            <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
            <ul class="nav-links">
                {% if user.is_authenticated %}
                    <li><a href="#">Welcome, {{ user.first_name }} {{ user.last_name }}</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'accounts:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

{% block content %} 

{% endblock %}

</body>
</html>