{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <main>
        <section class="hero">
            <h1>Welcome to TaskFlow</h1>
            <p>Your ultimate task management tool to keep you organized and productive.</p>
            <div class="buttons">
                <a href="{% url 'accounts:register' %}" class="btn btn-signup">Sign Up</a>
                <a href="{% url 'accounts:login' %}" class="btn btn-login">Log In</a>
            </div>
        </section>

    </main>
{% endblock %}
